<% @user.errors.full_messages.each do |msg| %>
<%= msg %>
<% end %>
<% @user.addresses.each do |address| %>
  <% address.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= form_for @user, url: register_path do |f| %>

<p><%= f.label :name %></p>
<%= f.text_field :name %>

<section id="addresses">
  <%= f.fields_for :addresses do |address| %>
    <p><%= address.label :address %></p>
    <%= address.text_field :address %>

    <p><%= address.label :city %></p>
    <%= address.text_field :city %>

    <p><%= address.label :state %></p>
    <%= address.text_field :state %>

    <p><%= address.label :zip %></p>
    <%= address.text_field :zip %>
  <% end %>
</section>

<p><%= f.label :email %></p>
<%= f.text_field :email %>

<p><%= f.label :password %></p>
<%= f.password_field :password %>

<p><%= f.label :confirm_password %></p>
<%= f.password_field :confirm_password %>

<%= f.submit %>

<% end %>
